body{
  background-color: #4D4C7D;
  text-align: center;
}
h1{
  font-size:6rem;
  font-family: "Arvo", cursive;
text-shadow: 3px 0 #DA0463;
  color: #DBEDF3;
  padding-top: 4%
}
footer {
  color: #DBEDF3;
  font-family: sans-serif;
}
.drum{
  color: #d81313;
background-color: white;
font-size: 4rem;
font-family: 'Arvo', cursive;
line-height: 2;
font-weight: 900;border: 10px solid #363062;
border-radius: 15px;
display: inline-block;
width: 150px;
height: 150px;
margin: 10px;
text-shadow: 3px 0 #DBEDF3;
display: inline-block;
text-align: center;
}
.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.set {
  margin: 10% auto;
}
.w{
background-image: url('images/tom1.png');
}
.a{
background-image: url("images/tom2.png");
}
.s{
background-image: url("images/tom3.png");
}
.d{
background-image: url("images/tom4.png");
}
.j{
background-image: url("images/snare.png");
}
.k{
background-image: url("images/crash.png");
}
.l{
  background-image: url("images/kick.png");
}
